<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>PizzaDelizza</servlet-name>
        <servlet-class>controller.PizzaDelizza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TelaCaixa</servlet-name>
        <servlet-class>controller.TelaCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PizzariaController</servlet-name>
        <servlet-class>controller.PizzariaController</servlet-class>
    </servlet>
    <!-- Mapeamentos -->
    <servlet>
        <servlet-name>IngredienteController</servlet-name>
        <servlet-class>controller.IngredienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardapioController</servlet-name>
        <servlet-class>controller.CardapioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardapioClienteController</servlet-name>
        <servlet-class>controller.CardapioClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoController</servlet-name>
        <servlet-class>controller.CarrinhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoController</servlet-name>
        <servlet-class>controller.PedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MontarPizzaController</servlet-name>
        <servlet-class>controller.MontarPizzaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarPedidoController</servlet-name>
        <servlet-class>AtualizarPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalhePedidoController</servlet-name>
        <servlet-class>controller.DetalhePedidoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PizzaDelizza</servlet-name>
        <url-pattern>/PizzaDelizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TelaCaixa</servlet-name>
        <url-pattern>/TelaCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PizzariaController</servlet-name>
        <url-pattern>/PizzariaController</url-pattern>
    </servlet-mapping>
    <!-- Welcome files -->
    <servlet-mapping>
        <servlet-name>IngredienteController</servlet-name>
        <url-pattern>/IngredienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardapioController</servlet-name>
        <url-pattern>/CardapioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardapioClienteController</servlet-name>
        <url-pattern>/CardapioClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/CarrinhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoController</servlet-name>
        <url-pattern>/PedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MontarPizzaController</servlet-name>
        <url-pattern>/MontarPizzaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarPedidoController</servlet-name>
        <url-pattern>/AtualizarPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalhePedidoController</servlet-name>
        <url-pattern>/DetalhePedidoController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
